.cart_heading{
    text-align: center;
    margin-top: 85px;
}
.cart_heading h4{
    font-weight: normal;
    margin-bottom: 0;
    font-size: 17px;   
}
.cart_heading p{
    color: lightslategray;
    margin-top: 10px;
    font-size: 11.9px;
}
#item_name{
    font-size: 12px;
}
.gray{
    color: lightslategray;
    font-size: 12px;
}
.purchase_det{
    display: flex;
    align-items: center;
    float: right;
    width: 425px;
    justify-content: space-between;
}
.cart_details{
    display: inline-block;
    margin-left: 20px;
}

#item_img{
    float: left;
    position: relative;
    top: -10px;
}

footer{
    position: relative;
    top: 50%; 
}

.mycart{
    margin-top: 35px;
    width: 100%;
    padding: 0 40px 0 0 ;
}

select{
    border-color: white;
    width: 35px;
    background-color: white;
}
.total{
    display: flex;
    max-width: 500px;
    float: right;
    align-items: center;
    position: relative;
    top: 30px;
}

.main_body{
    max-width: 900px;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto; 
}

button{
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 40px;
}
.total>p{
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
}

#to_show{
    display: none;
}
@media all and (max-width:768px){
    #to_hide{
        display: none;
    }
    footer{
        display: none;
    }
    #to_show{
        position: fixed;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 60px;
        margin: 0;
        border: none;
        color: white;
        background-color: #172C50; 
    }
    .main_body{
        margin-top: -70px;
    }
    .cart_details{
        display: inline-block;
    }
    #item_name{
        display: block;
    }
    #item_img{
        position: static;
        float: left;
    }
    .purchase_det{
        width: 250px;
        float: right;
    }
    .total{
        position: absolute;
        right: 0px;
        top: 250px;
    }
}


@media all and (max-width:420px)
{
    .purchase_det{
        display: flex;
        flex-direction: column;
        width: 70px;
        margin: none;
        align-content: flex-start;
        padding: 0;
        float: none;
    }
    #cross_btn{
        display: none;
    }
    .main_body{
        width: auto;
    }
    .total{
        top: 300px;
    }
}