.title{
	text-align: center;
}
.title h3{
	font-size: 15px;
	margin-top: 70px;
	font-weight: normal;
	margin-bottom: 10px;
}
.title p{
	margin-top: 0;
	font-size: 12px;
	color: gray;
}

.form{
	display: flex;
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	justify-content: space-between;
}

.subsection{
	padding: 10px;
	max-width: 400px;
}

.form h2{
	font-size: 12px;
}

.left > input, .right > input{
	width: 100%;
	margin: 5px;
	padding: 20px 5px 20px 5px;
	border: 0;
	border-bottom: 1px solid lightgray;
}

.address{
	display: flex;
}
.address input{
	margin: 5px;
	padding: 20px 5px 20px 5px;
	border: 0;
	border-bottom: 1px solid lightgray;
}

.form h3{
	font-size: 12px;
	font-weight: normal;
}
.left select{
	border: 1px solid white;
	width: 107%;
	padding: 5px;
	margin-top: 0;
	background: transparent;
	border-bottom: 1px solid lightgray;
}

.billing{
	display: flex;
	align-items: center;
}
.billing p{
	font-size: 12px;
	margin-left: 10px;
}
.expiry select{
	border: 1px solid white;
	margin: 2px;
	background-color: white;
	border-bottom: 1px solid lightgray;
	width: 33%;
}
.expiry input{
	width: 33%;
	position: relative;
	background-color: white;
	top: 6px;
	border: 0;
	border-bottom: 1px solid lightgray;
}
.expiry{
	display: flex;
	align-items: center;
}
.expiry select{
	padding-bottom: 10px;
}
.sum, .total{
	display: flex;
	justify-content: space-between;
}
.sum p, .total p{
	font-size: 12px;
}
#full{
	background-color: white;
	border: 2px solid black;
	padding: 5px 25px 5px 25px;
}

#mob{
	display: none;
}

h2, h3{
	margin-top: 20px;
}

input::placeholder{
	position: relative;
	font-size: 16px;
	color: #aaa;
	padding-left: 0;
	transition: top 0.2s;

}

input{
	border-bottom: 1px solid lightgray;
	transition: border-bottom 0.5s;
}

input:focus::placeholder{
	position: relative;
	top: -12px;
	font-size: 10px;
	color: black;
}
input:focus{
	border-bottom: 2px solid black;
	outline: none;
}

@media all and (max-width:768px)
{
	.form{
		display: block;
	}
	.subsection{
		max-width: 100%;
	}
	.input{
		width: 100%;
	}
	#full{
		display: none;
	}
	footer{
		display: none;
	}
	#mob{
		position: fixed;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 60px;
        margin: 0;
        border: none;
        color: white;
        background-color: #172C50; 
	}
	.form{
		margin-bottom: 100px;
	}
}