#left_arrow {
    position: absolute;
    top: 3.14%;
    left: 1%;
}

.container {
    margin-top: 6%;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

#overview {
    padding: 0 60px 0;
    max-width: 400px;
    text-align: left;
}
#preview{
    max-width: 600px;
}

h1 {
    font-weight: normal;
}

p,
li {
    color: gray;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
}

#price_tag {
    font-size: 16px;
}

.size_select,
.quantity_select {
    display: inline-block;
    position: relative;
    left: 50px;
    width: 100%;
    max-width: 450px;
    height: 60px;
    margin: 0;
    padding: 0;
}

.size_select>select,
.quantity_select>select {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-color: white;
    padding: 0 45px 0 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: transparent;
}

.quantity_select>select {
    border-color: white;
    border-bottom: 1px solid gray;
}

#slabel,
#qlabel {
    color: gray;
    font-size: 13px;
}

.selectors {
    position: relative;
}

#slabel {
    position: relative;
    top: 38px;
    left: 5px;
}

#qlabel {
    position: absolute;
    top: 103px;
    left: 5px;
}

#feat {
    font-weight: normal;
    color: gray;
}

#footnote {
    text-align: center;
}

#footnote a {
    color: lightslategray;
}

#desc{
    padding-right: 35px;
}

button {
    border: 2px solid black;
    color: black;
    margin-top: 20px;
    background-color: white;
    padding: 10px 45px 10px;
}

hr{
    position: absolute;
    width: 55px;
}
#hr1{
    top: 10px;
}
#hr2{
    top: 69px;
}
#hr3
{
    top: 133px;
}
#tocart{
    display: none;
}
@media all and (max-width:1260px){
    #preview{
        min-width: 250px;
        height: auto;
    }

    #preview img{
        width: 46vw;
    }
}
@media all and (max-width:930px) {
    .navi {
        display: none;
    }

    header {
        background-color: rgba(255, 255, 255, 0.5);
        position: sticky;
        top: 0px;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        margin-bottom: 100px;
    }
    #preview img{
        width: 100%;
        height: auto;
    }
    #overview{
        max-width: 700px;
    }
    hr{
        display: none;
    }
    #slabel{
        top: -20px;
    }
    #qlabel{
        top: 90px;
    }
    .quantity_select {
        left: 80px;
    }
    footer{
        display: none;
    }
    #tocart{
        position: fixed;
        bottom: 0px;
        display: block;
        width: 100%;
        margin: 0;
        color: white;
        background-color: darkblue; 
    }
}

@media all and (max-width:715px){
    .size_select{
        left: 80px;
    }
    #slabel{
        top: 40px;
    }
    #qlabel{
        top: 100px;
    }
}