body{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#branding{
    display: flex;
    justify-content: center;
}
#logo{
    position: absolute;
    top: 3.14%;
    left: 98%;
    width: 1.4%;
    transform: translate(-100%);
}

.navi{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

header{
    margin-bottom: 25px;
}

.caption{
    margin:30px 0;
    text-align: center;
}


.title_image{
    text-align: center;
    margin: 0 0 50px 0;
}

.dual_image{
    display: flex;
}
 #mens_timage, #ladies_timage{
     flex: 1;
 }

 .tags{
     display: flex;
     justify-content: space-around;
     margin-top: 10px;
 }

 footer{
     text-align: center;
     margin-top: 40px;
 }
 @media all and (max-width:415px)
{
    .tags{
        justify-content: stretch;
    }
}

#first_image{
    height: 320px;
    background: url("../images/mens_outerwear.jpg") no-repeat center;
}

#second_image{
    height: 320px;
    background: url("../images/ladies_outerwear.jpg") no-repeat center;
}

@media all and (max-width:768px)
{
    #first_image, #second_image, #mens_timage, #ladies_timage{
        height: 250px;
    }
}