#mens_image{
    height: 320px;
    background: url("../images/mens_outerwear.jpg") no-repeat center;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 23px;
}
.title_image{
    text-align: center;
}

.item_name{
    font-weight: bold;
    font-size: 12px;
}

.price{
    color: gray;
    font-size: 12px;
}

#main_cap{
    margin-top: 30px;
    margin-bottom: 0;
}

#first_image{
    margin: 10px;
}

.item_name{
    margin-top: 80px;
    margin-bottom: -5px;
}
@media all and (max-width:768px){
    .title_image div{
        display: none;
    }
}
@media all and (max-width:940px){
    .items{
        grid-template-columns: 1fr 1fr;
    }
}