#left_arrow{
    position: absolute;
    top: 3.14%;
    left: 1%;
}

.container{
    margin: 160px;
    margin-top: 90px;
    display: flex;
}

#overview{
    padding: 0 60px 0;
}

h1{
    font-weight: normal;
}
p,li{
    color: gray;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
}

#price_tag{
    font-size: 16px;
}

.size_select, .quantity_select{
    display: inline-block;
    width: 100%;
    max-width: 450px;
    height: 60px;
    margin: 0;
    padding: 0;
}

.size_select > select, .quantity_select > select{
    float: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-color: white;
    padding: 0 45px 0 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: transparent;
}
 .quantity_select > select{
    border-color: white;
    border-bottom: 1px solid gray;
}

#slabel, #qlabel{
    color: gray;
    font-size: 13px;
}
.selectors{
    position: relative;
}

#slabel{
    position: relative;
    top: 38px;
    left: -35px;
}

#qlabel{
    position: absolute;
    top: 103px;
    left: -35px;
}

#feat{
    font-weight: normal;
    color: gray;
}
#footnote{
    text-align: center;
}
#footnote a{
    color: lightslategray;
}
button{
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 10px 45px 10px;
}