/* Global stuff */
body{
    margin: 0 8px 0 8px;
    padding: 0;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:sans-serif;
}

#branding{
    display: flex;
    justify-content: center;
}
#logo{
    position: absolute;
    top: 3.14%;
    left: 98%;
    width: 1.4%;
    transform: translate(-100%);
}

.navi{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

header{
    margin-bottom: 25px;
}

footer{
    text-align: center;
    margin-top: 40px;
}


#demo{
    font-weight: normal;
    font-size: 12px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 11px 23px;
    margin: 0;
}

#footnote{
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0;
    color: lightslategray;
}

/* End of global */

a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

.head{
    margin: 10px 0;

}

#branding{
    font-size: 16px;
    margin: auto;
    padding: 0;
    font-weight: bold;
    letter-spacing: 5px;
}


#menu_list{
    margin: 0;
    padding: 0;
    display: inline-block;
}

#menu_list li{
    display: inline;
    font-size: 12.8px;
    margin: 0 5px;
}

.caption{
    font-weight: normal;
    font-size: 14px;
}

.shop_now{
    background-color: white;
    border: 2px solid black;
    padding: 10px 40px;
}

.shop_now .btn_text{
    font-weight: normal;
    font-size: 15px;
}


li a:active{
    background-color: gray;
}

.current{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
#mens_timage{
    min-height: 400px;
    background: url("/home/dell/shopping website/assets/images/mens_tshirts.jpg") no-repeat -350px 0;
}
#ladies_timage{
    min-height: 400px;
    background: url("/home/dell/shopping website/assets/images/ladies_tshirts.jpg") no-repeat -350px 0;
}